*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --base-spacing: 2rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: var(--base-spacing);
}

p {
  line-height: 1.5;
}

button {
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: 0 0 2px 3px rgb(224, 165, 0);
}

.main-title {
  margin-bottom: var(--base-spacing);
}

.btn {
  padding: calc(var(--base-spacing) / 1.5) var(--base-spacing);
  border-radius: 4px;
  font-size: 1.8rem;
}

.btn--primary {
  color: #fff;
  background-color: blueviolet;
}

.btn--secondary {
  color: rgb(63, 63, 63);
  background-color: rgb(203, 195, 209);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  width: 90%;
  max-width: 50rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.overlay__header {
  display: flex;
  justify-content: space-between;
  padding: var(--base-spacing);
  color: #fff;
  background-color: blueviolet;
}

.overlay__content {
  padding: var(--base-spacing);
}

.overlay__footer {
  padding: 0 var(--base-spacing) var(--base-spacing) var(--base-spacing);
  text-align: right;
}

.overlay__footer .btn:not(:last-of-type) {
  margin-right: calc(var(--base-spacing) / 2);
}

.btn-close {
  background-color: transparent;
  color: #fff;
  font-size: 2.7rem;
}

.hidden {
  display: none;
}
